In [5]:
# Dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2020-08-21 21:55:50,-53.15,-70.92,42.8,81,75,12.75
1,1,Coquimbo,CL,2020-08-21 22:00:07,-29.95,-71.34,53.6,81,0,11.41
2,2,Vaini,TO,2020-08-21 22:00:07,-21.20,-175.20,77.0,88,40,6.93
3,3,Ushuaia,AR,2020-08-21 21:56:47,-54.80,-68.30,44.6,70,75,19.46
4,4,Ribeira Grande,PT,2020-08-21 22:00:08,38.52,-28.70,69.6,65,2,5.26

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [23]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

In [24]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vaini,TO,2020-08-21 22:00:07,-21.20,-175.20,77.00,88,40,6.93
5,5,Puerto Ayora,EC,2020-08-21 22:00:08,-0.74,-90.35,78.80,47,86,13.87
9,9,Jamestown,US,2020-08-21 22:00:10,42.10,-79.24,79.00,54,1,5.82
11,11,Katsuura,JP,2020-08-21 22:00:10,35.13,140.30,82.99,92,0,3.67
15,15,Roma,US,2020-08-21 22:00:05,43.21,-75.46,82.40,48,40,12.75
17,17,Anloga,GH,2020-08-21 22:00:12,5.79,0.90,75.20,94,40,10.29
18,18,Galle,LK,2020-08-21 22:00:12,6.04,80.22,80.22,81,97,8.90
20,20,Albany,US,2020-08-21 22:00:08,42.60,-73.97,86.00,37,85,6.11
21,21,San Patricio,MX,2020-08-21 22:00:13,19.22,-104.70,87.80,74,75,9.17
27,27,Sao Paulo De Olivenca,BR,2020-08-21 21:58:27,-3.38,-68.87,79.83,88,8,2.82

In [31]:
preferred_cities_df.count()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp    Lat     Lng Hotel Name
2                   Vaini      TO     77.00 -21.20 -175.20
5            Puerto Ayora      EC     78.80  -0.74  -90.35
9               Jamestown      US     79.00  42.10  -79.24
11               Katsuura      JP     82.99  35.13  140.30
15                   Roma      US     82.40  43.21  -75.46
17                 Anloga      GH     75.20   5.79    0.90
18                  Galle      LK     80.22   6.04   80.22
20                 Albany      US     86.00  42.60  -73.97
21           San Patricio      MX     87.80  19.22 -104.70
27  Sao Paulo De Olivenca      BR     79.83  -3.38  -68.87

In [40]:
# Set parameters to search for a hotel
params = {"radius": 5000,
    "type": "lodging",
    "key": g_key, 
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vaini,TO,77.00,-21.20,-175.20,Keleti Beach Resort
5,Puerto Ayora,EC,78.80,-0.74,-90.35,Finch Bay Galapagos Hotel
9,Jamestown,US,79.00,42.10,-79.24,Hampton Inn & Suites Jamestown
11,Katsuura,JP,82.99,35.13,140.30,Katsuura Hotel Mikazuki
15,Roma,US,82.40,43.21,-75.46,Wingate By Wyndham Rome
17,Anloga,GH,75.20,5.79,0.90,Dey Lodge
18,Galle,LK,80.22,6.04,80.22,CocoBay Unawatuna
20,Albany,US,86.00,42.60,-73.97,
21,San Patricio,MX,87.80,19.22,-104.70,Hotel Cabo Blanco
27,Sao Paulo De Olivenca,BR,79.83,-3.38,-68.87,

In [42]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))